            .card {
                position: relative;
                height: 510px;
                background-color: var(--card);
                border-radius: var(--radius);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__img {
                    transform: translateY(-40%);
                }
                &__info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-radius: var(--radius);
                    background-color: #fff;
                    padding: 26px 38px;
                    min-height: 260px;
                    width: 100%;
                    &--cart {
                        align-items: center;
                        margin-top: 75px;
                    }
                    &--btn {
                        font-size: 46px;
                        width: 60px;
                        height: 60px;
                        padding: 10px;
                        border-radius: 50%;
                        background: var(--grad);
                        color: #fff;
                        opacity: 1;
                        transition: all 0.3s;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                    &--price {
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
                h4 {
                    margin-bottom: 7px;
                }
            }