.product {
    margin-top: 140px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        align-items: center;
    }
    &__item {
        h2 {
            margin-bottom: 40px;
        }
        a {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #4F4F4F;
            padding-right: 50px;
            position: relative;
            img {
                position: absolute;
                height: 21px;
                right: 0;
                top: 2px;
                transition: all 0.3s;
            }
            &:hover {
                .product__arrow {
                    right: 12px;
                }
            }
        }
    }
}